/*Agyei Lomini*/
/*Section ACS15 Summer 2023*/
/*Description: Make a movie review site*/

body{
    background-image: url(../images/tmntpage/background.png);
    font-size: 8pt;
    font-family: sans-serif;
    padding: 0;
    margin: 0 auto;
}

/*Header Elements*/

div#banner{
    background-image: url(../images/tmntpage/bannerbackground.png);
    background-position: top;
    background-size: auto;
    margin: 0 auto;
    padding: 0;
}

#bannercover{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    padding: 0;
}

#movietitle{
    font-size: 24pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}


/*Body Elements (Main Section, Reviews, Overview)*/
main#tmntrev{
    border: solid gray 4px;
    width: 800px;
    display: flex;
    margin: 0 auto;
    contain: content;
    padding-bottom: 15px;

}

div#revcentral{
    width: 550px;
    float: left;
}

div#overral{
    background-image: url(../images/tmntpage/rottenbackground.png);

    

}

div#general{
    width: 250px; ;
    float: right;
    background-color: #a2b964;
    z-index: 2;
    
}

/*Bottom Bar*/
div#bottombar{
    background-color: #a2b964;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    padding: 5px;

}

div#validationbox{
    margin-right: auto;
    float: right;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

/*Section with Reviews*/

#rating{
    font-size: 48pt;
    font-weight: bold;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: 15px;
    z-index: 1;

}

#rev{
    font-size: 8pt;
    color: white;
    font-weight: normal;
    
}

/*Columns*/

.revcolm{
    column-count: 2;
    column-gap: 2%;
    margin-left: 8px;
    column-width: 20px;
    margin-right: 8px;
}

#leftcolm{
    column-span: initial;
    break-inside: avoid;
    float: left;
}

#rightcolm{
    column-span: initial;
    break-inside: avoid;
    float: right;
}

/*Review Boxes*/

p.revbox{
    border: solid gray 2px;
    padding: 8px;
    background-color: #E1D697;
    font-size: 8pt;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    contain: content;
    
}

.critic{
    padding-right: 5px;
    float: left;
}

.criticinfo{
    padding-bottom: 3em;
}

.publication{
    font-style: italic;
}

/* Section with General Overview */

.overview{
    font-size: 8pt;
    margin: 10px;
}

dt{
    font-family: sans-serif;
    font-weight: bold;
}
